PATUKA_FIREBASE_DATABASE_URL=YOUR_FIREBASE_DATABASE_URL
PATUKA_FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
PATUKA_FIREBASE_USER_EMAIL=YOUR_FIREBASE_USER_EMAIL
PATUKA_FIREBASE_USER_PASSWORD=YOUR_FIREBASE_USER_PASSWORD
PATUKA_WIFI_SSID=YOUR_WIFI_SSID
PATUKA_WIFI_PASSWORD=YOUR_WIFI_PASSWORD
PATUKA_AP_SSID=YOUR_PATUKA_AP_SSID
PATUKA_AP_PASSWORD=YOUR_PATUKA_AP_PASSWORD